/* .column {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .container {
    padding: 0 20px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
 */


  .avatar-xl {
    height: 6rem;
    width: 6rem;
}
.rounded-circle {
    border-radius: 60%!important;
}

.Card10 {
  height: 1200px;
}

.card-imgs {
  width: 125px;
}